.mainTitle {
  margin-top: 40px;
}


.mainWrapper {
  display: flex;
  gap: 40px;
}

.paginationWrapper {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

.openFiltersMobileButton {
  display: none;
  margin-bottom: 25px;
}

@media screen and (max-width: 1200px) {
  .openFiltersMobileButton {
    display: block;
  }

  .filtersWrapper {
    display: none;
  }
}
