.mainTitle {
  margin-top: 40px;
}


.mainWrapper {
  display: flex;
  gap: 40px;
}

.mainPaginationWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.openFiltersMobileButton {
  display: none;
  margin-bottom: 25px;
}

.mainProductsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (max-width: 1200px) {
  .openFiltersMobileButton {
    display: block;
  }

  .filtersWrapper {
    display: none;
  }
}
