// AdminTypesTab
.countTitle {
  font-size: 18px;
}

.createButton {
  margin-top: 15px;
}

.typesWrapperCards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.typeCard {
  width: 20vw;
  max-height: 35vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 3px;

    &-thumb {
      background-color: #1677FF;
      border-radius: 20px;
    }
  }
}

.typeCardEditButton, 
.typeCardDeleteButton {
  position: sticky;
  top: 10px;
  z-index: 1;
  margin: 0 20px 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.typeField {
  margin-top: 20px;
}

.typeDescription {
  white-space: normal;
}

.typeImage {
  width: 100%;
  height: 100%;
}

// EditTypesModal
.editForm {
  height: 70vh;
  overflow-y: scroll;
  margin-top: 20px;

  &::-webkit-scrollbar {
    width: 3px;
    
    &-thumb {
      background-color: #1677FF;
      border-radius: 20px;
    }
  }
}

@media screen and (max-width: 1515px) {
  .typeCardDeleteButton {
    top: 60px;
  }
}

@media screen and (max-width: 1080px) {
  .typeCard {
    width: 100%;
  }

  .typeCardDeleteButton {
    top: 10px;
  }
}
