// ProductCard //

.card__price {
  color: gray;
  text-decoration: none;
}

// ProductCardList //

.card__list {
  display: flex;
  gap: 16px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

// ProductPage //


.product {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.product__title {
  h1{margin: 0;}
}

.product__content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 8px;
  width: 100%;
}

.product__description {
  
  h1{margin: 0; text-align: right;}
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product__page__btn {
  
}

// OrdersPage //



.order__header {
  display: flex;
  justify-content: space-between;
}

.order__price {
  color: gray;
  text-decoration: none;
}

.orders__list {
  width: 827px;
  display: flex;
  gap: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.order__btn {
  display: block;
}

// BasketPage //

.basket {
  display: flex;
  gap: 16px;
}

.basket__header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.basket__list {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.basket__card {
  display: flex;
  justify-content: space-between;
  h3{margin: 0;}
  border: 1px solid #ddd;
  border-radius: 8px;
  width:500px;
}

.basket__card__header {
  display: flex;
}

.basket__card__price {
  margin-top: 24px;
  display: flex;
  h5{margin: 0 5px 0 0; font-size: 15px;} 
}

.basket__menu {
  width: 250px;
  display: flex;
  justify-content: space-between;
}



