.clearButton {
  margin-bottom: 20px;
}

.cartWrapper {
  display: flex;
  gap: 3vw;
}

.cardWithProductWrapper {
  width: 65%;
}

.card {
  margin-bottom: 20px;
}

.productWrapper {
  display: flex;
  justify-content: space-between;
}

.productImageWrapper {
  display: flex;
  gap: 20px;
}

.productImage {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.productName {
  font-size: 20px;
}

.productPriceForPiece {
  font-size: 16px;
  font-weight: bold;
}

.productPriceWrapper {
  display: flex;
  gap: 3vw;
}

.productsCounter {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #1677FF;
  border-radius: 10px;
  max-height: 2vh;
  color: #FFFFFF;
  font-size: 20px;
}

.counterButtons {
  cursor: pointer;
}

.productPrice {
  font-weight: bold;
  font-size: 20px;
}

.resultWrapper {
  width: 30%;
}

.result {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.resultName {
  font-size: 16px;
}

.resultPrice {
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 1100px) {
  .cartWrapper {
    display: block;
  }

  .cardWithProductWrapper {
    width: 100%;
  }

  .resultWrapper {
    margin-top: 40px;
    width: 100%;
  }

  .productWrapper {
    flex-wrap: wrap;
  }

  .productInfo {
    display: block;
  }

  .productPriceForPiece {
    margin-top: 10px;
    display: block;
  }

  .productPriceWrapper {
    margin-top: 20px;
  }
}
