.productItemWrapper {
  display: flex;
  gap: 10vw;
}

.productItemInfo {
  width: 60%;
}

.characteristicsTitle {
  margin-top: 20px;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.buttonIcon {
  font-size: 24px;
}

.characteristics {
  margin-top: 20px;
}

.description {
  font-size: 18px;
}

.shareButton {
  margin-top: 20px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .productItemWrapper {
    flex-wrap: wrap;
  }

  .productItemInfo {
    width: 100%;
  }
}
