.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.link {
  text-decoration: none;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 100%;
  height: 150px;
}
