.Peoples {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
  flex-direction: column;
}

.card {
  width: 545px;
  min-height: 100%; 
height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
