.navbarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.logo {
  width: 65px;
  border-radius: 10px;
}

.openMenuDrawerButton {
  display: none;
}

.menuPoints {
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchInput {
  width: 40vw;
}

.icons {
  display: flex;
  gap: 20px;
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.icon {
  font-size: 20px;
}

@media screen and (max-width: 760px) {
  .openMenuDrawerButton {
    display: block;
  }

  .menuPoints {
    display: none;
  }

  .menuMobileVersion {
    .menuPoints {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }

  .searchInput {
    width: 100%;
  }
}
