.productImage {
  width: 60px;
  border-radius: 5px;
}

.productsTabTableWrapper {
  overflow-x: auto;
}

.characteristicsProductTable {
  margin-top: 10px;
  width: 30%;
}

.productsTabTableActionsDivider {
  margin: 0 5px;
  color: #1677FF;
}
