.filtersWrapper {
  max-height: 100%;
}

.contentWrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirmButton {
  width: 100%;
}
