.filtersWrapper {
  max-height: 100%;
}

.filtersHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filtersButtonsWrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filtersConfirmButton {
  width: 100%;
}
