.notAuthorizedWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.notAuthorizedTitle {
  text-align: center;
}

.backToMainPageButton {
  margin-top: 20px;
}
