.adminTypesTabTitle {
  display: block;
  margin-bottom: 15px;
  font-size: 20px;
}

.adminTypesTabAddTypeButton {
  margin-bottom: 20px;
}

.adminTypesTabPaginationWrapper {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
