.adminProductsTabTitle {
  display: block;
  margin-bottom: 15px;
  font-size: 20px;
}

.adminProductsTabAddProductButton {
  margin-bottom: 20px;
}

.adminProductsTabPaginationWrapper {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
